<div class="containerAside">
    <picture>
        
        <img src="./assets/fotoL.jpg" alt="Martin Bohorquez" title="Martin Bohorquez">

    </picture>
    <article>
        <h2>Contacto</h2>
        <p><br>
            Nombre: MARTIN BOHORQUEZ<br>
            Celular: 312 746 27 94 <br>
            Correo: ntmbohorquez@gmail.com <br>
            https://www.linkedin.com/in/martin-bohorquez-9b4a8917b/ <br>
            https://github.com/NtmNitram <br>
            Profesion: Desarrollador Frontend<br>

            </p><br>
    </article>
    <article>
        <h2>Habilidades en:</h2>
        <p> 
            Html5<span class="bar"><span class="VsC"></span></span><br>
            Scss<span class="bar"><span class="Scss"></span></span><br>
            JavaScript<span class="bar"><span class="JS"></span></span><br>
            Python<span class="bar"><span class="Python"></span></span><br>
            Github <span class="bar"><span class="Github"></span></span><br>
            Bootstrap5<span class="bar"><span class="Bootstrap5"></span></span><br>
            Visual Studio Code <span class="bar"><span class="VsC"></span></span><br>
            Angular<span class="bar"><span class="JS"></span></span><br>  
        </p><br>


        <h2>Estudios Adicionales</h2>

        <p>Calidad del software en proceso de desarrollo (SENA)<br>
        
        Administracion de Empresas<br>(7 Semestres)<br>
        
        Administracion de RRHH(Curso)<br>
        
        Administracion y control de Inventarios(curso)</p><br>

        <h2>Idiomas</h2>
        <p>
            Español: Nativo<br>
            Ingles: Intermedio<br>
        </p><br>
    </article>
</div>
