<div class="containerAside">
    <picture>
        
        <img src="./assets/fotoL.jpg" alt="Martin Bohorquez" title="Martin Bohorquez">

    </picture>

    <article>
        <h2>Contacto</h2>
        <p><br>
            
            Celular: 312 746 27 94 <br>
            Correo: ntmbohorquez@gmail.com <br><br>
            https://www.linkedin.com/in/martin-bohorquez-9b4a8917b/ <br><br>
            https://github.com/NtmNitram <br>
            
            <i class="pi pi-check"></i>
            </p><br>
    </article>
    <article>
        <h2>Habilidades en:</h2>
        <p> 
            Angular<span class="bar"><span class="Angular"></span></span><br>
            JavaScript<span class="bar"><span class="JS"></span></span><br>
            Html5<span class="bar"><span class="VsC"></span></span><br>
            Css<span class="bar"><span class="Scss"></span></span><br>
            Python<span class="bar"><span class="Python"></span></span><br>
            GitHub <span class="bar"><span class="Github"></span></span><br>
            Visual Studio Code <span class="bar"><span class="VsC"></span></span><br>
            
        </p><br>


        <h2>Estudios Adicionales</h2>

        <p>Calidad del software en proceso de desarrollo/SENA<br>
           
           Curso en Administracion y control de Inventarios(SENA)
           Curso en Administracion de RRHH(SENA)<br>
        
        </p><br>

        <h2>Idiomas</h2>
        <p>
            Español: Nativo<br>
            Ingles: Intermedio<br>
        </p><br>
    </article>
</div>
