<div class="containerContent">

    <article>
        <h2>Un Poco Sobre mi  </h2><br>
        <p>
            Desarrollador Web en formación, conocimientos en Angular, (JavaScript, HTML, CSS), Python, Node.js, SQL, Git-GitHub, Trello, Metodología Scrum, computación en la nube (Básico AWS)
            Actualmente curso un Diplomado en habilidades de programación con énfasis en desarrollo Web, en la Universidad de Caldas (Convenio MINTIC).
            También cuento con certificaciones de plataformas de educación profesional como PLATZI.
            Curse siete semestres en Administración de Empresas, los cuales me han ofrecido más de 3 años de experiencia administrativa, sumergiéndome en la lógica del negocio.
            Adicionalmente, cuento con cursos complementarios en Calidad del Software, Marketing Digital entre otros, soy una persona honesta, líder con iniciativa, y disfruto de los retos en mi entorno de trabajo.
        </p><br><br>
    </article>

<!-- Educación -->
    <article>
        <h2>Formación Academica</h2><br><br><br>

            <h3>Universidad de Caldas</h3><br>
                <P>Diplomado en habilidades de programacion con enfasis en desarrollo Web (Actual)<br><br>

            <h3>MINTIC </h3><br>
               <p>Diplomado en Fundamentos de Programacion</p>
               <p>Diplomado en Programación Básica</p><br>
            
            <h3>Platzi</h3><br>
               <p>Fundamentos de Angular<br>
                Angular/Componentes y Servicios<br>
                Curso de Algoritmos y Pensamiento Logico</p><br><br><br>

            
        <h2>Referencias Personales</h2><br>

        <p>Nicolas Mancera Bello
        <br>Ingeniero de sistemas/Programador
        <br>celular: 311 201 6364<br><br>

        <p>Katherine Velasco Ardila
        <br>Trabajadora Social
        <br>celular: 322 882 4899<br>
        

        <br><br><br>
    <div class="firma">
        <img src="assets/firma.png" alt="">
    </div>
        <h2>  Martin Bohorquez </h2>
        <p>      C.C 1.033.727.249</p>
        
    </article>
</div>
