.containerContent {
    padding-left: 4rem;
    margin-top: -150px;
    
    
}

.containerContent article h2 {
    color: #232335;
    margin: 5rem 1rem 0 0;
    font: bold;
}

.firma{
    text-align: left;
    width: 10%;
    
    
}