

    <div class="Contenido">
        <h1 class="Titulo">Un Poco Sobre mi  </h1><br>

        <p>
            Ingeniero de Software en formación, desarrollador
            Front-end en Angular, TypeScript, HTML, CSS,
            Python, SQL, Git-Hub, Metodología Scrum,
            computación en la nube (Básico AWS Practitioner).<br>
            Habilidades para desarrollar, probar, implementar,
            mantener y mejorar software.<br>
            Tuve la oportunidad de sumergirme en la lógica del
            negocio, cursando siete semestres en administración
            de empresas, los cuales me han ofrecido más de 3
            años de experiencia administrativa, considerándome
            ser un líder con curiosidad intelectual e iniciativa.<br><br>
    
    

    <div class="educacion">
        <h1>Formación Academica</h1><br><br>
            <h3>Politécnico GranColombiano</h3>
               <P>Ingeniería de Software/ACTUAL</P><br>
        

            <h3>Universidad de Caldas</h3>
                <P>Diplomado en habilidades de programacion-enfasis en desarrollo Web/TITULADO<br><br>
            <h3>Platzi</h3>
               <p>Fundamentos de Angular<br>
                Angular/Componentes y Servicios<br>
                Marketing digital<br>
                Curso de Algoritmos y Pensamiento Logico</p><br>

            <h3>Universidad Andina</h3>
               <P>Administración de Empresas/7mo-Semestre</P><br><br>
            </div>
            
        <h1>Referencias Personales</h1><br>

        <p>Nicolas Mancera Bello
        <br>Ingeniero de sistemas/Programador
        <br>celular: 311 201 6364<br><br>

        <p>Katherine Velasco Ardila
        <br>Trabajadora Social
        <br>celular: 322 882 4899<br>
        

        <br><br><br>
    <div class="firma">
        <img src="assets/firma.png" width="250%" alt="">
    </div>
        <h2>  Martin Bohorquez </h2>
        <p>      C.C 1.033.727.249</p>
        
    </div>

