.containerAside {
    background-color: #151564;
    padding: 1rem 0;
    color: rgb(252, 251, 251);
    padding-left: 2rem;
    padding-right: 2rem;
}

.containerAside img {
    border-radius: 50%;
    margin: 2rem auto;
    width: 100%;
    box-shadow: 0 0 10px #bef739;
}

.containerAside h2 {
    border-radius: 40%;
    border: 1px solid #bef739;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.container2 {
  
  display: grid;
  width: 100%;
  max-height: 42rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr  ;
  grid-area: "HTML5          CSS3"  "JavaScrip            Sql" "Phyton          ResponsiveWebDesign";
}

.container2 .HTML5 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.container2 .CSS3 {
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 2;
}

.container2 .Java {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.container2 .Sql {
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: 3;
}

.container2 .Scrum {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.container2 .ResponsiveWebDesign {
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 3;
  grid-row-end: 4;
}



.bar {
    margin-top: 0.3rem;
    background: #f4f5f3;
    display: block;
    height: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #bef739;
  }

  .bar span {
    height: 2rem;
    float: left;
    background: #bef739;
  }

  $Html5: 80%;
  $Scss: 55%;
  $JS: 50%;
  $Python: 40%;
  $VsC: 80%;
  $Github: 60%;
  $Bootstrap5: 45%;
  

  .Htlm5 {
    width: $Html5;
    animation: Html5 4s;
  }

  .Scss {
    width: $Scss;
    animation: Scss 4s;
  }

  .JS {
    width: $JS;
    animation: JS 4s;
  }

  .Python {
    width: $Python;
    animation: Python 4s;
  }

  .Github {
    width: $Github;
    animation: Github 4s;
  }

  .Bootstrap5 {
    width: $Bootstrap5;
    animation: Bootstrap5 4s;
  }

  .VsC {
    width: $VsC;
    animation: VsC 4s;
  }

.Github {
    width: $Github;
    animation: Github 4s;
}


  @keyframes Html5 {
    0% {
      width: 0%;
    }
    100% {
      width: $Html5;
    }
  }
  @keyframes Scss {
    0% {
      width: 0%;
    }
    100% {
      width: $Scss;
    }
  }
  @keyframes JS {
    0% {
      width: 0%;
    }
    100% {
      width: $JS;
    }
  }
  @keyframes Python {
    0% {
      width: 0%;
    }
    100% {
      width: $Python;
    }
  }

  @keyframes Github {
    0% {
        width: 0%;
    }
    100% {
        width: $Github;
    }
}
@keyframes Bootstrap5 {
  0% {
      width: 0%;
  }
  100% {
      width: $Bootstrap5;
  }
}

@keyframes VsC {
    0% {
        width: 0%;
    }
    100% {
        width: $VsC;
    }
}

  $alto: 9rem;
  $ancho: 9rem;

.circular-progress {
    margin: 1rem auto;
    position: relative;
  }
  .circular-progress, .circular-progress:before, .circular-progress:after {
    width: $ancho;
    height: $alto;
    border-radius: 50%;
  }
  .circular-progress:before, .circular-progress:after {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
  }
  .circular-progress:before {
    padding: 0.5rem;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 7rem;
    text-transform: uppercase;
  }
  .circular-progress:after {
    line-height: 10rem;
  }

  .HTML5 .circular-progress {
    transform: rotate(162deg);
    background: linear-gradient(0deg, white 50%, rgba(255, 255, 255, 0.2) 50%);
  }
  .HTML5 .circular-progress:before, .HTML5 .circular-progress:after {
    color: white;
  }
  .HTML5 .circular-progress:before {
    content: "HTML5";
    background: #151564 content-box;
    transform: rotate(-162deg);
  }
  .HTML5 .circular-progress:after {
    content: "90%";
    background: linear-gradient(transparent 50%, #151564 50%);
    transform: scale(1.1) rotate(-162deg);
  }

  .CSS3 .circular-progress {
    transform: rotate(153deg);
    background: linear-gradient(0deg, white 50%, rgba(255, 255, 255, 0.2) 50%);
  }
  .CSS3 .circular-progress:before, .CSS3 .circular-progress:after {
    color: white;
  }
  .CSS3 .circular-progress:before {
    content: "CSS3";
    background: #151564 content-box;
    transform: rotate(-153deg);
  }
  .CSS3 .circular-progress:after {
    content: "85%";
    background: linear-gradient(transparent 50%, #232335 50%);
    transform: scale(1.1) rotate(-153deg);
  }

  .JavaScript .circular-progress {
    transform: rotate(140.4deg);
    background: linear-gradient(0deg, white 50%, rgba(255, 255, 255, 0.2) 50%);
  }
  .JavaScript .circular-progress:before, .JavaScript .circular-progress:after {
    color: white;
  }
  .JavaScript .circular-progress:before {
    content: "JavaScript";
    background: #151564 content-box;
    transform: rotate(-140.4deg);
  }
  .JavaScript .circular-progress:after {
    content: "78%";
    background: linear-gradient(transparent 50%, #151564 50%);
    transform: scale(1.1) rotate(-140.4deg);
  }

 

  .Sql .circular-progress {
    transform: rotate(144deg);
    background: linear-gradient(0deg, white 50%, rgba(255, 255, 255, 0.2) 50%);
  }
  .Sql .circular-progress:before, .Sql .circular-progress:after {
    color: white;
  }
  .Sql .circular-progress:before {
    content: "Sql";
    background: #151564 content-box;
    transform: rotate(-144deg);
  }
  .Sql .circular-progress:after {
    content: "80%";
    background: linear-gradient(transparent 50%, #151564 50%);
    transform: scale(1.1) rotate(-144deg);
  }

  .Scrum .circular-progress {
    transform: rotate(154.8deg);
    background: linear-gradient(0deg, white 50%, rgba(255, 255, 255, 0.2) 50%);
  }
  .Scrum .circular-progress:before, .Scrum .circular-progress:after {
    color: white;
  }
  .Scrum .circular-progress:before {
    content: "Scrum";
    background: #232335 content-box;
    transform: rotate(-154.8deg);
  }
  .Scrum .circular-progress:after {
    content: "86%";
    background: linear-gradient(transparent 50%, #232335 50%);
    transform: scale(1.1) rotate(-154.8deg);
  }

  .ResponsiveWebDesign .circular-progress {
    transform: rotate(135deg);
    background: linear-gradient(0deg, white 50%, rgba(255, 255, 255, 0.2) 50%);
  }
  .ResponsiveWebDesign .circular-progress:before, .ResponsiveWebDesign .circular-progress:after {
    color: white;
  }
  .ResponsiveWebDesign .circular-progress:before {
    content: "Responsive";
    background: #151564 content-box;
    transform: rotate(-135deg);
  }
  .ResponsiveWebDesign .circular-progress:after {
    content: "75%";
    background: linear-gradient(transparent 50%, #151564 50%);
    transform: scale(1.1) rotate(-135deg);
  }
